<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <pluginGroups>

  </pluginGroups>


  <proxies>

  </proxies>


	<servers>
	  <server>
		<id>transport-exchange--transport-exchange</id>
		<username>aws</username>
		<password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
	  </server>
	</servers>

  <mirrors>

  </mirrors>


 <profiles>
  <profile>
    <id>transport-exchange--transport-exchange</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>transport-exchange--transport-exchange</id>
        <url>https://transport-exchange-908085288135.d.codeartifact.us-east-2.amazonaws.com/maven/transport-exchange/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

</settings>
